<div class="top">

<div class="container" id="grad-rainbow">

<div id="small-title">
<h1> Coach says </h1>
</div>
<% def coach_answer
    if @answer== "I am going to work!"
      return "Great!"
    elsif @answer.include? "?"
      return "Silly question, get dressed and go to work!"
    else
      return "I don't care, get dressed and go to work!"
    end
end%>
<h4> Your question: <%= @answer %> </h3>

<h3 id="coach-says">The Coach says: <%= coach_answer %><h3>

<p class="btn btn-success btn-lg"> <%= link_to "<button>Ask a new question</button>".html_safe, '/ask' %> </p>
</div></div> </div>
