/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #grad {
  background-image: linear-gradient(to bottom right, red, yellow);

}

#grad-rainbow  {
  background-image: linear-gradient(red, yellow, green);
}

div {
  /* display: grid;
  justify-content: center; */
  width: 600px;
  border: 12px solid rgb(178, 46, 163);
  margin: auto;
}

#small-title {
  display: grid;
  justify-content: center;
  width:300px;
  text-align: center;
  border: 3px solid green;
  margin: auto;
}

p {
  margin: 5px;
  margin-bottom: 30px;
}

.top {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  color:rgb(16, 117, 84);
}

#coach-says {
  color:rgb(216, 23, 194);
  font-weight: 900;
}

#extra-text {
  color:rgb(24, 80, 2);
  font-weight: 500;
}
